appnope==0.1.4
backcall==0.2.0
beautifulsoup4==4.14.2
bs4==0.0.2
cachetools==6.2.2
certifi==2025.11.12
chardet==5.2.0
charset-normalizer==3.4.4
decorator==5.2.1
google-auth==2.43.0
gspread==6.2.1
idna==3.11
ipykernel==6.31.0
ipython==8.18.1
ipython-genutils==0.2.0
jedi==0.19.2
jupyter-client==8.6.3
jupyter-core==5.8.1
nba-api==1.10.2
numpy==2.0.2
oauthlib==3.3.1
pandas==2.3.3
parso==0.8.5
pexpect==4.9.0
pickleshare==0.7.5
prompt-toolkit==3.0.52
ptyprocess==0.7.0
pyasn1==0.6.1
pyasn1-modules==0.4.2
Pygments==2.19.2
python-dateutil==2.9.0.post0
pytz==2025.2
pyzmq==27.1.0
requests==2.32.5
requests-oauthlib==2.0.0
rsa==4.9.1
six==1.17.0
soupsieve==2.8
tornado==6.5.2
traitlets==5.14.3
urllib3==2.6.0
wcwidth==0.2.14
